In [2]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2023_FIFA_Women%27s_World_Cup')

In [4]:
all_tables[9]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,New Zealand (H),0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Norway,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Philippines,0,0,0,0,0,0,0,0,NaN
3,4,Switzerland,0,0,0,0,0,0,0,0,NaN

In [5]:
all_tables[16]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Australia (H),0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Republic of Ireland,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Nigeria,0,0,0,0,0,0,0,0,NaN
3,4,Canada,0,0,0,0,0,0,0,0,NaN

In [38]:
all_tables[23]

   Pos     Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1       Spain    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Costa Rica    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Zambia    0  0  0  0   0   0   0    0                        NaN
3    4       Japan    0  0  0  0   0   0   0    0                        NaN

In [39]:
all_tables[30]

   Pos  Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1  England    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2    Haiti    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3  Denmark    0  0  0  0   0   0   0    0                        NaN
3    4    China    0  0  0  0   0   0   0    0                        NaN

In [40]:
all_tables[37]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,United States,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Vietnam,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Netherlands,0,0,0,0,0,0,0,0,NaN
3,4,Portugal,0,0,0,0,0,0,0,0,NaN

In [41]:
all_tables[44]

   Pos  Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1   France    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  Jamaica    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3   Brazil    0  0  0  0   0   0   0    0                        NaN
3    4   Panama    0  0  0  0   0   0   0    0                        NaN

In [42]:
all_tables[51]

   Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1        Sweden    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2  South Africa    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3         Italy    0  0  0  0   0   0   0    0                        NaN
3    4     Argentina    0  0  0  0   0   0   0    0                        NaN

In [43]:
all_tables[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1      Germany    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2      Morocco    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3     Colombia    0  0  0  0   0   0   0    0                        NaN
3    4  South Korea    0  0  0  0   0   0   0    0                        NaN

In [47]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [6]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2023_FIFA_Women%27s_World_Cup')
dict_table={}
for letter,i in zip(alphabet,range(9,65,7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'},inplace = True)
    df.pop('Qualification')
    print(letter,i)
    dict_table[f'Group {letter}']=df

A 9
B 16
C 23
D 30
E 37
F 44
G 51
H 58

In [7]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [8]:
dict_table['Group B']

   Pos                 Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        Australia (H)    0  0  0  0   0   0   0    0
1    2  Republic of Ireland    0  0  0  0   0   0   0    0
2    3              Nigeria    0  0  0  0   0   0   0    0
3    4               Canada    0  0  0  0   0   0   0    0

In [9]:
with open('dict_table','wb') as output:
  pickle.dump(dict_table,output)